*,*::after,*::before{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body{
    width: 100vw;
    min-height: 100vh;
    height: fit-content;
}

ul,ol{
    list-style-type: none;
} 

a{
    text-decoration: none;
}

#header{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline:150px ;
    background-color: tomato;
}

#header nav{
    display: flex;
    gap:2rem;
}

#header nav a{
    padding: 5px 25px;
    color: #444;
    font-weight: bold;
    font-size:18px ;
    letter-spacing: 2px;
}