* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.shimmer-card-container {
  padding: 50px;
  width: 100%;
  min-height: 100vh;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 250px));
  grid-template-rows: repeat(3, minmax(250px, 300px));
  place-content: center;
  place-items: center;
  gap: 30px 0px;
}

.shimmer-card-container .card {
  width: 230px;
  height: 300px;
  background-color: #f0f0f0;
}

/*--------- card container design ---------*/

#container-component{
  width: 100vw;
}
.top-banner {
  text-align: center;
  padding: 15px;
  background-color: #d8d8d8;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.top-banner button {
  background-color: #222;
  color: white;
  border: none;
  outline: none;
  padding: 8px 35px;
  border-radius: 5px;
  letter-spacing: 1.5px;
  cursor: pointer;
  margin-left: 15px;
}

.card-container {
  padding: 50px;
  width: 100%;
  min-height: 100vh;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 250px));
  grid-template-rows: repeat(3, minmax(250px, 300px));
  place-content: center;
  place-items: center;
  gap: 30px 0px;
}

.card-container .card {
  width: 230px;
  height: 300px;
  background-color: #fff;
  box-shadow: 0px 0px 4px 2px #f0f0f0;
  padding: 10px;
}

.card .profile {
  width: 100%;
  height: 60%;
}

.card .profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .info h4 {
  margin-block: 10px;
}

.card .info div {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}



/*---------------- search-component --------------*/

#search-component{
  width: 100%;
  max-width: 400px;
  position: relative;
}

#search-component input{
  width: 100%;
  padding: 12px 16px;
  border: none;
  outline: 1.5px solid rgb(221, 63, 6);
  border-radius: 10px;
  font-size: 16px;
  letter-spacing: 1px;
  caret-color: rgb(221, 63, 6);
}




#search-component button{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  padding: 5px;
}
