*,*::after,*::before{
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    min-height: 100vh;
    height: fit-content;
}

ul,ol{
    list-style-type: none;
} 

a{
    text-decoration: none;
}


.header{
    width: 100%;
    height: 100px;
    background-color: rgb(95, 235, 221);
    padding: 0px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.header .logo{
    font-size: 25px;
    font-weight: bold;
}

.header nav{
    display: flex;
    gap: 0px 20px;
}

.header nav a{
    font-size: 18px;
    padding: 5px 20px;
    color: black;
    letter-spacing: 1.5px;
}


/* ----------------------
    Home PAGE Layout
-------------------------*/
.home,.about,.contact,.error{
    min-height: calc(100vh - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
}
#app-component h1{
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 5px;
}